

    <table class="table borderless">
        <tbody>
          <tr>
            <th class="col-md-5">Beer</th>
            <td>{{ offer.beer.name }}<img [src]="offer.beer.icon" [alt]="offer.beer.name" class="pull-right"></td>
          </tr>
          <tr>
            <th class="col-md-5">Store</th>
            <td>{{ offer.store.name }}<img [src]="offer.store.icon" [alt]="offer.store.name" class="pull-right"></td>
          </tr>
          <tr>
            <th class="col-md-5">Price</th>
            <td>€{{ offer.price }}</td>
          </tr>
          <tr>
            <th class="col-md-5">Time period</th>
            <td>{{ offer.startDate | date }} - {{ offer.endDate | date }}</td>
          </tr>
        </tbody>
      </table>