<div class="row clickable" (click)="toggleExpanded()">
    <div class="col-xs-12">
        <div *ngIf="expanded">
            <table class="table borderless">
                <tbody>
                    <tr>
                        <th class="col-md-1">Id</th>
                        <td>{{ error.id }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-1">Message</th>
                        <td>{{ error.message }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-1">Description</th>
                        <td>{{ error.occurrenceDescription }}</td>
                    </tr>
                    <tr>
                        <th class="col-md-1">StackTrace</th>
                        <td><code>{{ error.stackTrace }}</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!expanded">
            <strong>{{ error.id }}</strong>
            {{ error.message }}
            <code class="pull-right">{{ error.stackTrace | slice:0:50}} ...</code>
        </div>
    </div>
</div>
